:root {
    --textcolor:#303031;
    --textcolorgray:#66645E;
    --maingreen:#71A894;
    --white:#FFFFFF;
    --bodycolor: #E5E5E5;
    --lightgold: #F3F0EA;


    --fontopensans: "Roboto", sans-serif !important;
}